{% extends './index.html' %}

{% block content %}

<div class = "container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PK</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
            {% for book in books%}
                <tr>
                    <th scope="row">{{book.id}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.created}}</td>
                    <td><a href="{{ url_for('update', pk=book.id)}}"><button class="btn btn-success">Update</button></a></td>
                    <td><a href="{{ url_for('delete', pk=book.id)}}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <a href="add"><button class="btn btn-primary">Add</button></a>
</div>


{% endblock %}
